/*General / Container Styles*/
p,h1,h2,h3,a,.socialMedia:hover {
    cursor: default;
    opacity: 1;
}
body {
    background-color: #ffffff;
    height: 100vh;
    width: 100vw;
    margin: 0;
    overflow-x: hidden;
    font-family: "Roboto", 'Lato';
}
img {
    width: 35vmin;
    padding: 5vmin;
    transition-duration: 0.5s;
}
img:hover {
    opacity: 0.7;
    cursor: pointer;
}
.socialMedia {
    width: 20vmin;
}
#socMedContainer {
    display: inline-flex;
    width: 100%;
}
#socMedLeft {
    width: 30vw;
    float: left;
}
#socMedRight {
    width: 30vw;
    float: right;
}
/*PAGES*/
#intro{
    transition: opacity 0.5s ease-out;
    transition: opacity 0.5s ease-in;
    overflow: auto;
    z-index: 11;
    opacity: 1;
    position: fixed;
    width: 60vw;
    top: 27vh;
    left: 50%;
    transform: translateX(-50%);
}
#aboutMe {
    transition: opacity 0.5s ease-out;
    transition: opacity 0.5s ease-in;
    overflow: hidden;
    z-index: 1;
    opacity: 0;
    position: absolute;
    width: 60vw;
    top: 27vh;
    left: 50%;
    transform: translateX(-50%);
    padding-bottom: 10vh;
}
#projects {
    transition: opacity 0.5s ease-out;
    transition: opacity 0.5s ease-in;
    overflow: hidden;
    z-index: 1;
    opacity: 0;
    position: absolute;
    width: 60vw;
    top: 27vh;
    left: 50%;
    transform: translateX(-50%);
    padding-bottom: 10vh;
}
#contact {
    transition: opacity 0.5s ease-out;
    transition: opacity 0.5s ease-in;
    overflow: hidden;
    z-index: 1;
    opacity: 0;
    position: absolute;
    width: 60vw;
    top: 27vh;
    left: 50%;
    transform: translateX(-50%);
    padding-bottom: 10vh;
}
#credits {
    transition: opacity 0.5s ease-out;
    transition: opacity 0.5s ease-in;
    overflow: hidden;
    z-index: 1;
    opacity: 0;
    position: absolute;
    width: 60vw;
    top: 27vh;
    left: 50%;
    transform: translateX(-50%);
    padding-bottom: 10vh;
}
/*Particle Styles*/
#particles-js {
    width: 100%;
    height: 100%;
    background-size: cover;
    position: fixed;
    z-index: 5;
    top: 0;
    background-position: 50% 50%;
}
canvas{
    width: 100%;
    height: 100%;
}
/*Navigation Panel Styles*/
#navContainer {
    position: fixed;
    z-index: 15;
    opacity: 1;
    top: 10vh;
    left: 1vw;
    transition-duration: 0.5s;
}
.sidePanelButtons a{
    padding: 1vmin;
    padding-left: 1.5vmin;
    padding-right: 1.5vmin;
    margin-left: 0.1vmin;
    margin-top: 0.5vmin;
    text-decoration: none;
    font-size: 2vmin;
    color: #00a0d1;
    display: block;
    transition: 0.5s;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 100;
}
/*Scroll Bar Styles*/
::-webkit-scrollbar {
    width: 7px;
}
::-webkit-scrollbar-track {
    opacity: 0;
}
::-webkit-scrollbar-thumb {
    background: #00a0d1;
}
/*Text Styles*/
h1 {
    color: #000000;
    font-size: 8vmin;
    font-weight: 500;
    text-align: center;
    line-height: 140%;
    letter-spacing: 0.5vmin;
    text-transform: uppercase;
}
h2 {
    padding-top: 8vh;
    color: #00a0d1;
    font-size: 4vmin;
    font-weight: 500;
    text-align: center;
    line-height: 140%;
    text-transform: uppercase;
}
h3 {
    color: #00a0d1;
    font-size: 3vmin;
    font-weight: 400;
    text-align: center;
    line-height: 140%;
    text-transform: uppercase;
}
p {
    color: #000000;
    font-size: 2vmin;
    text-align: center;
    font-weight: 300;
    line-height: 140%;
    letter-spacing: 0.25vmin;
    padding-bottom: 4vmin;
    line-height: 180%;
}
/*Mobile Support*/
@media only screen and (max-width: 100vh) {
    .sidePanelButtons a{
    padding: 1.5vmin;
    padding-left: 1.5vmin;
    padding-right: 2vmin;
    margin-left: 0.1vmin;
    margin-top: 0.75vmin;
    text-decoration: none;
    font-size: 4vmin;
    color: #00a0d1;
    display: block;
    transition: 0.5s;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 100;
}
    h1 {
    color: #000000;
    font-size: 9vmin;
    font-weight: 500;
    text-align: center;
    line-height: 140%;
    letter-spacing: 0.5vmin;
    text-transform: uppercase;
}
h2 {
    padding-top: 8vh;
    color: #00a0d1;
    font-size: 5vmin;
    font-weight: 500;
    text-align: center;
    line-height: 140%;
    text-transform: uppercase;
}
h3 {
    color: #00a0d1;
    font-size: 4vmin;
    font-weight: 400;
    text-align: center;
    line-height: 140%;
    text-transform: uppercase;
}
p {
    color: #000000;
    font-size: 3vmin;
    text-align: center;
    font-weight: 300;
    line-height: 140%;
    letter-spacing: 0.25vmin;
    padding-bottom: 4vmin;
    line-height: 180%;
}
#intro{
    transition: opacity 0.5s ease-out;
    transition: opacity 0.5s ease-in;
    overflow: auto;
    z-index: 11;
    opacity: 1;
    position: fixed;
    width: 60vw;
    top: 20vh;
    padding-left: 30vw;
}
#aboutMe {
    transition: opacity 0.5s ease-out;
    transition: opacity 0.5s ease-in;
    overflow: hidden;
    z-index: 1;
    opacity: 0;
    position: absolute;
    width: 60vw;
    top: 20vh;
    padding-left: 30vw;
    padding-bottom: 10vh;
}
#projects {
    transition: opacity 0.5s ease-out;
    transition: opacity 0.5s ease-in;
    overflow: hidden;
    z-index: 1;
    opacity: 0;
    position: absolute;
    width: 60vw;
    top: 20vh;
    padding-left: 30vw;
    padding-bottom: 10vh;
}
#contact {
    transition: opacity 0.5s ease-out;
    transition: opacity 0.5s ease-in;
    overflow: hidden;
    z-index: 1;
    opacity: 0;
    position: absolute;
    width: 60vw;
    top: 20vh;
    padding-left: 30vw;
    padding-bottom: 10vh;
}
#credits {
    transition: opacity 0.5s ease-out;
    transition: opacity 0.5s ease-in;
    overflow: hidden;
    z-index: 1;
    opacity: 0;
    position: absolute;
    width: 60vw;
    top: 20vh;
    padding-left: 30vw;
    padding-bottom: 10vh;
}
#socMedContainer {
    display: inherit;
    width: 100%;
}
#socMedLeft {
    width: 100%;
    float: inherit;
}
#socMedRight {
    width: 100%;
    float: inherit;
}
}